body {
    font-family: Arial, sans-serif;
    flex-direction: column; /* Add this to align the content vertically */
    align-items: center;
    justify-content: center;
    height: 100vh;
}

h1 {
    text-align: center;
    font-size: 24px;
    padding: 20px 0;
    margin: 0; /* Add this to remove any default margins */
}

h2 {
    text-align: center;
    margin-top: 10px; /* Add some spacing between the h1 and h2 */
}

input {
    margin: 10px;
    font-size: 18px; /* Adjust the font size as needed */
    padding: 10px; /* Adjust the padding as needed */
}

blockquote {
    /* Add some space and style to the blockquote */
    margin: 0 0 1em;
    padding: 10px;
    border: 3px solid #333;
    font-style: italic;
}

#title {
    padding: 0 10%;
    margin:  0 auto;
    text-align: center;
    max-width: 800px;
    justify-content: center; /* Horizontally center the .search-container */
    align-items: center; /* Vertically center the .search-container */
}

#title p {
    margin-top: 0;
    margin-left: 10%;
    margin-right: 10%;
}

p.instructions {
    font-style: italic;
    font-size: 14px;   
    margin: 0 auto; 
    padding: 0 auto;
}

#title > p.instructions {
    font-style: italic;
    font-size: 14px;   
    margin: auto; 
    padding: 10px;
}

#methodology-box {
    padding: 0 auto;
    margin: 0 auto;
    max-width: 800px;
}

/* Styles for the chart container */
div#chart {
    margin:  0 auto;
    text-align: center;
    max-width: 800px;
    justify-content: center; /* Horizontally center the .search-container */
    align-items: center; /* Vertically center the .search-container */
  }
/* Add styles for the tooltip */

.tooltip {
    position: absolute;
    pointer-events: none;
    background-color: rgba(0, 0, 0, 0.8);
    color: white;
    padding: 10px;
    border-radius: 5px;
}

.tooltip-title {
    font-weight: bold;
    font-size: 14px;
}

.tooltip-publish-date {
    font-size: 12px;
    margin-top: 5px;
}

.dot {
    fill: orange;
    fill-opacity: 0.1;
}

.dot.unfiltered-dot {
    fill: gray;
    fill-opacity: 0.01;
}

.filtered-dot {
    fill: orange;
    fill-opacity: .8;
    stroke-width: 1px;
    stroke:#333;
}

.highlighted-dot {
    fill: orange;
    fill-opacity: 1;
    stroke:#333;
    stroke-width: 3px;
    border: black 1px solid;
}

.highlighted-row {
    background-color: rgba(255, 165, 0, 0.4);
}

.hidden {
    display: none;
}


/* Style for the search box and clear button container */
.search-container {
    position: sticky;
    top: 0;
    left: 0;
    right: 0; /* Make the container full width */
    background-color: white; /* Adjust as needed */
    padding: 0; /* Add padding for spacing */
    z-index: 100; /* Ensure it's above other content */
    display: flex;
    justify-content: center; /* Center horizontally */
    align-items: center; /* Center vertically */}

/* Style for the clear button */
#clearButton {
    /* position: absolute;
    right: 15px;
    top: 50%;
    transform: translateY(-50%); */
    font-size: 24px;
    background: none;
    border: none;
    cursor: pointer;
    color: #777;
    /* display: block; */
}

/* Style for highlighted search query */
.highlight {
    /* bold */
    font-weight: bold;
  }

/* Scrollable headline table */
#headline-table {
    max-height: 400px; /* Set a maximum height for the table */
    max-width: 800px;
    overflow-y: scroll; /* Enable vertical scrolling */
    scrollbar-width: thin; /* Set the width of the scrollbar */
    scrollbar-color: #888 #f0f0f0; /* Set the color of the scrollbar */
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0 auto; /* Center horizontally */
    border: 1px solid #ccc; /* Add a border to indicate scrollable area */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Add a shadow to indicate scrollable area */
}

#headline-table-wrapper {
    max-height: 400px; /* Set a maximum height for the table */
    max-width: 800px;
    margin: 0 auto;
    margin-bottom: 40px;
    padding: auto;
}

  /* Left-align table headers */
  #headline-table th {
    text-align: left;
    background-color: #f0f0f0; /* Background color for the sticky header */
    position: sticky;
    top: 0; /* Stick the header to the top of the container */
    z-index: 1; /* Ensure header appears above content */
  }

  /* Show the scrollbar always */
#headline-table::-webkit-scrollbar {
    width: 8px; /* Set the width of the scrollbar */
}
#headline-table::-webkit-scrollbar-thumb {
    background-color: #888; /* Set the color of the scrollbar thumb */
    border-radius: 4px; /* Rounded corners for the thumb */
}

#headline-table::-webkit-scrollbar-track {
    background-color: #f0f0f0; /* Set the color of the scrollbar track */
}

  
/* Stack table rows on mobile */
@media screen and (max-width: 768px) {
    #headline-table table {
        display: block;
    }

    #headline-table tr {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        margin-bottom: 10px;
    }

    #headline-table td {
        width: 100%;
    }

    #headline-table th {
        display: none;
    }
}

.filterButton {
    font-size: 18px; /* Adjust the font size as needed */   
}

#searchTermHeadline {
    /* orange text */
    color: orange;
}

#transButtons {
    padding-top: 10px;
}